In [4]:
import numpy as np
import pandas as pd
from PIL import Image
import matplotlib.pyplot as plt
%matplotlib inline
import os.path
import util

In [5]:
####################
# GLOBAL VARIABLES #
####################

ROOT_FOLDER = r"C:\Users\cdcro\Documents\GT\Project\Mars\hirise-map-proj-v3_2\hirise-map-proj-v3_2\map-proj-v3_2" # Tested in Initial Data Review
DATA_MAP = r"C:\Users\cdcro\Documents\GT\Project\Mars\hirise-map-proj-v3_2\hirise-map-proj-v3_2\labels-map-proj_v3_2_train_val_test.txt" # Tested in Initial Data Review

In [6]:
ROOT_FOLDER = util.ROOT_FOLDER

filenames, datamap = util.initial_setup()

In [14]:
datamap_reduced = datamap[datamap["PhotoIncluded"]==1]
print(datamap.shape, datamap_reduced.shape)

(67810, 4) (33630, 4)

In [16]:
datamap_reduced

                               File Name  Class  label  PhotoIncluded
0           ESP_013049_0950_RED-0067.jpg      7  train              1
1        ESP_013049_0950_RED-0067-fv.jpg      7  train              1
2       ESP_013049_0950_RED-0067-brt.jpg      7  train              1
3       ESP_013049_0950_RED-0067-r90.jpg      7  train              1
5      ESP_013049_0950_RED-0067-r270.jpg      7  train              1
...                                  ...    ...    ...            ...
67802       ESP_018707_2205_RED-0034.jpg      0   test              1
67803       ESP_018707_2205_RED-0019.jpg      0   test              1
67804       ESP_018707_2205_RED-0032.jpg      0   test              1
67805       ESP_018707_2205_RED-0041.jpg      0   test              1
67809       ESP_018707_2205_RED-0051.jpg      0   test              1

[33630 rows x 4 columns]